@use "_variables.scss" as variables;

/*
=============== 
Start FAQs
===============
*/

@media screen and (min-width: 992px) {
    .faq-list {
        max-width: 800px;
        display: grid;
        grid-template-columns: 250px 1fr;
    }
}

.faq-list {
    width: 90vw;
    margin: 5rem auto;
    background: variables.$clr-white;
    border-radius: variables.$radius;
    padding: 2.5rem 2rem;
    display: grid;
    grid-gap: 1rem 2rem;
    gap: 1rem 2rem;
}

.question {
    padding: 1rem 1.5rem;
    border: 2px solid variables.$clr-grey-5;
    margin-bottom: 1rem;
    border-radius: variables.$radius;
    box-shadow: variables.$light-shadow;

    h4 {
        text-transform: none;
        line-height: 1.5;
        margin-bottom: 0;
    }

    p {
        color: variables.$clr-grey-8;
        margin-top: 0.5rem;
        margin-bottom: 0;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
            margin-bottom: 0;
        }
    }

    .btn {
        background: transparent;
        border-color: transparent;
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        background: variables.$clr-grey-1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: variables.$clr-red-dark;
        cursor: pointer;
        margin-left: 1rem;
        align-self: center;
        padding: inherit;
    }
}

/*
  =============== 
  End FAQs
  ===============
  */